<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798912265406-g8d1c5c9b67datff57a25aajngnuc36o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798912265406-g8d1c5c9b67datff57a25aajngnuc36o</string>
	<key>API_KEY</key>
	<string>AIzaSyAs2kXWcHURfznX3aMP4ozjca7AQ-aNBJo</string>
	<key>GCM_SENDER_ID</key>
	<string>798912265406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.which.Which-Stream</string>
	<key>PROJECT_ID</key>
	<string>which-stream</string>
	<key>STORAGE_BUCKET</key>
	<string>which-stream.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798912265406:ios:b24fc71fabed1ada</string>
	<key>DATABASE_URL</key>
	<string>https://which-stream.firebaseio.com</string>
</dict>
</plist>